{% if user.isActive() %}
    <form method="post" action="{{ path('app_backoffice_users_deactivate', {'id': user.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir désactiver cet utilisateur?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('deactivate' ~ user.id) }}" />
                        <button class="m-1 btn-sm btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="D&eacute;sactiver"><i class="bi bi-x-circle"></i></button>
                    </form>
{% else %}
    <form method="post" action="{{ path('app_backoffice_users_reactivate', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir réactiver cet utilisateur ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('reactivate' ~ user.id) }}" />
        <button class="m-1 btn-sm btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Réactiver"><i class="bi bi-arrow-clockwise"></i></button>
    </form>
{% endif %}
