{% if category.isActive()%}
    <form method="post" action="{{ path('app_backoffice_categories_deactivate', {'id': category.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir désactiver cette catégorie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('deactivate' ~ category.id) }}" />
    <button class="m-1 btn-sm btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="D&eacute;sactiver"><i class="bi bi-x-circle"></i></button>
    </form>
{% else %}
    <form method="post" action="{{ path('app_backoffice_categories_reactivate', {'id': category.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir réactiver cette catégorie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('reactivate' ~ category.id) }}" />
    <button class="m-1 btn-sm btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Réactiver"><i class="bi bi-arrow-clockwise"></i></button>
    </form>
{% endif %}
  