    {% if status is same as 0 %}
        <span class="badge bg-info justify-content-center align-items-center">brouillon</span>
    {% elseif status is same as 1 %}
        <span class="badge bg-success justify-content-center align-items-center">publi&eacute;</span>
    {% elseif status is same as 2 %}
        <span class="badge bg-dark justify-content-center align-items-center">désactivé</span>
    {% endif %}