{% if avatar.isActive()%}
    <form method="post" action="{{ path('app_backoffice_avatars_deactivate', {'id': avatar.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir désactiver cet avatar ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('deactivate' ~ avatar.id) }}" />
    <button class="m-1 btn-sm btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="D&eacute;sactiver"><i class="bi bi-x-circle"></i></button>
    </form>
{% else %}
    <form method="post" action="{{ path('app_backoffice_avatars_reactivate', {'id': avatar.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir réactiver cet avatar ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('reactivate' ~ avatar.id) }}" />
    <button class="m-1 btn-sm btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Réactiver"><i class="bi bi-arrow-clockwise"></i></button>
    </form>
{% endif %}
  