{% extends 'base.html.twig' %}

{% block title %}Créer mon profil d'auteur | Eco-Friendly{% endblock %}

{% block body %}

	<div class="container-fluid col-12 col-lg-8 mx-auto">
		<h1>
			Créer mon profil d'auteur
		</h1>
		<div>
			<div class="row mb-3">
				<div class="col-6">
					<span>Profil créé le {{ user.createdAt|date('d/m/Y') }}</span>
				</div>
				<div class="col-6 d-flex justify-content-end">
					Vérifié :&nbsp;&nbsp;
					{% include "_fragments/_user_verified_tag.html.twig" with {status:user.isVerified} %}
					&nbsp;&nbsp;&nbsp;&nbsp;Actif :&nbsp;&nbsp;
					{% include "_fragments/_user_active_tag.html.twig" with {status:user.isActive} %}
				</div>
			</div>
			{{ include('user/_form.html.twig', {'button_label': 'Valider'}) }}
		</div>
    </div>
	
{% endblock %}