{% extends 'base.html.twig' %}

{% block title %}Créer un profil d'auteur | Eco-Friendly
{% endblock %}

{% block body %}
	
	<div class="container-fluid col-12 col-lg-8 mx-auto">

		<h1>
			Créer un profil d'auteur
		</h1>
		<div class="row mb-3">
			{{ include('user/_form.html.twig', {'button_label': 'Valider'}) }}
		</div>
		<a href="{{ path('app_backoffice_authors_list') }}">Retour à la liste</a>
    </div>
{% endblock %}
