<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Confirmation d'inscription</title>
        <style>
            body {
                text-align: center;
                margin: 0;
                padding: 40px 30px;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 16px;
                line-height: 1.4;
                color: #444;
                background-color: #f5f5f5;
                -webkit-text-size-adjust: 100%;
                -ms-text-size-adjust: 100%;
            }
            h2 {
                font-family: 'Courier New', Courier, monospace;
                font-size: 24px;
            }
        </style>
    </head>
    <body>
        <img src="https://eco-friendly.fr/assets/img/logos/logo-eco-friendly-V3-maxcropcenterh.png" style="height: 150px">
        <h2>Eco-Friendly</h2>
        <br>
        <h1>Confirmation d'inscription</h1>
        <p>Merci de votre inscription!<br />
        Votre compte a bien été créé.</p>
        <p>Pour confirmer votre inscription, veuillez cliquer sur le lien ci-dessous:</p>
        <a href="{{ signedUrl }}">Confirmer l'inscription</a>
        <p>Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>
        <p>A tout de suite,</p>
        <p>L'équipe d'Eco-Friendly</p>
    </body>
</html>